<header class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/employees">Employees</a></li>
      <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
    </ul>
  </div>
  <!--<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>-->
  <!--<a routerLink="/employees" routerLinkActive="active">Employees</a>-->
  <!--<a>LOGIN</a>-->
</header>

<!--container-->
<main class="container">
  <div class="panel">
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<!--footer-->
<footer class="footer">
  <div class="container">
    <p class="text-muted">© Artem Mitin, 2016.  All Rights Reserved. v0.0.1</p>
  </div>
</footer>
<!--
<div class="panel">
  <div class="panel-body">
    <router-outlet></router-outlet>
  </div>
</div>
-->
